{%extends 'index.html'%}
{%block content%}

<div class="form-container">
   <div class="inside">
        <h1>Upload video</h1><br><br>
        <form action="" method="POST">
            <label for="">Video URL link</label>
            <input type="text" name="video"><br><br>

            <label for="">Thumbnail URL</label>
            <input type="text" name="thumb"><br><br>

            <label for="">Video Title Name</label>
            <input type="text" name="name"><br><br>

            <label for="">Video Description</label>
            <input type="text" name="des"><br><br>

            <p><input type="submit" value="submit"></p>
        </form>

        <table>
            <tr>
                <th>Video url</th>
                <th>Thumbnail url</th>
                <th>Name of video</th>
                <th>Video Descripition</th>
            </tr>
            {%for i in data%}
            <tr>
                <th>{{i.videourl}}</th>
                <th>{{i.thumbnail}}</th>
                <th>{{i.name}}</th>
                <th>{{i.descripition}}</th>
            </tr>
            {%endfor%}
        </table>
   </div>
</div>
{%endblock%}