{%extends 'index.html'%}
{%block content%}


    <div class="container play-container ">
        <div class="row">
            <div class="play-video">
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{videourl}}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                <!-- <video src="{{videourl}}" controls></video> -->
                <iframe width="942" height="530" src="https://www.youtube.com/embed/{{VAR}}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
            <div class="tags">
                <a href="#">#Coding</a>
                <a href="#">#Javascript</a>
                <a href="#">#Full stack Developement</a>
                <a href="#">#happy students</a>
            </div>
            <br>
            <h2>{{title}}</h2>
            <div class="play-video-info">
                <p>1M views &bull; 2 days ago</p>
                    <div>
                        <a href="#"><img src="../static/images/like.png" alt="">125Likes</a>
                        <a href="#"><img src="../static/images/dislike.png" alt=""></a>
                        <a href="#"><img src="../static/images/share.png" alt="">45Likes</a>
                        <a href="#"><img src="../static/images/save.png" alt="">Save</a>
                    </div>
            </div>
            <hr>

            <div class="publisher">
                <img src="../static/images/jack.png" alt="">
                <div>
                    <p>Happy students</p>
                    <span>500k Subscribe</span>
                </div>
                <button type="button">
                    Subscribe
                </button>
            </div>
            <div class="vid-description">
                <p>{{descripition}}</p>
                <hr>
                <h4>150 comments</h4>
                <div class="add-comment">
                    <img src="../static/images/jack.png" alt="">
                    <input type="text" placeholder="Write Comments" name="" id="">
                </div>
                <div class="old-comments">
                    <img src="../static/images/gerard.png" alt="">
                    <div>
                        <h3>Gerald <span>3days Ago</span> </h3>
                        <p>This is fullstacke course.Here we are developing and learning the projects with clone</p>
                        <div class="comments-action">
                            <img src="../static/images/like.png" alt="">
                            <span>300</span>
                            <img src="../static/images/dislike.png" alt="">
                            <span></span>
                            <span>Reply</span>
                            <a href="#">All replies</a>
                        </div>
                    </div>

                </div>
                <div class="old-comments">
                    <img src="../static/images/simon.png" alt="">
                    <div>
                        <h3>Simon<span>3days Ago</span> </h3>
                        <p>This is fullstacke course.Here we are developing and learning the projects with clone</p>
                        <div class="comments-action">
                            <img src="../static/images/like.png" alt="">
                            <span>300</span>
                            <img src="../static/images/dislike.png" alt="">
                            <span></span>
                            <span>Reply</span>
                            <a href="#">All replies</a>
                        </div>
                    </div>

                </div>
                <div class="old-comments">
                    <img src="../static/images/cameron.png" alt="">
                    <div>
                        <h3>Gerald <span>3days Ago</span> </h3>
                        <p>This is fullstacke course.Here we are developing and learning the projects with clone</p>
                        <div class="comments-action">
                            <img src="../static/images/like.png" alt="">
                            <span>300</span>
                            <img src="../static/images/dislike.png" alt="">
                            <span></span>
                            <span>Reply</span>
                            <a href="#">All replies</a>
                        </div>
                    </div>

                </div>
                <div class="old-comments">
                    <img src="../static/images/gerard.png" alt="">
                    <div>
                        <h3>Gerald <span>3days Ago</span> </h3>
                        <p>This is fullstacke course.Here we are developing and learning the projects with clone</p>
                        <div class="comments-action">
                            <img src="../static/images/like.png" alt="">
                            <span>300</span>
                            <img src="../static/images/dislike.png" alt="">
                            <span></span>
                            <span>Reply</span>
                            <a href="#">All replies</a>
                        </div>
                    </div>

                </div>
            </div>
            
            
            </div>
            <div class="right-sidebar">
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail1.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail2.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail3.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail4.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail5.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail6.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail7.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail8.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail2.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/images/thumbnail6.png" alt="">
                    </a>
                    <div class="vid-info">
                        <a href="#">This is fullstacke course.</a>
                        <p>Happy students</p>
                        <p>1M views %bull; 2 Days Ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{%endblock%}    

